sudo: false
language: python
cache: pip

matrix:
  include:
    - python: 3.4
      env: TOXENV=py34-django20
    - python: 3.5
      env: TOXENV=py35-django20
    - python: 3.6
      env: TOXENV=py36-django20
    - env: TOXENV=lint

install:
  - pip install tox

script: tox
